# Data Collection
I have collected skytrax airlines data from the and save it in csv format:-

In [1]:
# Import all necessary libraries:-

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r"E:\ConsoleFlare My Material\skytrax_Project\Skytrax_All_Airlines_Reviews_data.csv")
df

,id,recorded_date,review_date,airline,title,review,over_all_rating,name,date,text,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_and_beverages,ground_service,value_for_money,recommended,aircraft,inflight_entertainment,wifi_and_connectivity,airline_id
0,1,2023-09-14,13th September 2023,Aerolineas Argentinas,NaN,"An hour delay, no apologies nor explanations. ...",5,B Albrecht,NaN,NaN,Business,Economy Class,Santiago de Chile to Buenos Aires AEP,September 2023,5.0,2.0,2.0,3.0,4.0,no,Boeing 737,NaN,NaN,NaN
1,2,2023-09-14,7th August 2023,Aerolineas Argentinas,NaN,Not Verified | Do Not Fly! They will take you...,1,B Harley,NaN,NaN,Solo Leisure,Economy Class,New York JFK to Argentina,August 2023,1.0,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,NaN
2,3,2023-09-14,25th July 2023,Aerolineas Argentinas,NaN,Not Verified | It was an international flight ...,2,Liliana Caplan,NaN,NaN,Solo Leisure,Economy Class,Miami to Buenos Aires,July 2023,1.0,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,NaN
3,4,2023-09-14,25th June 2023,Aerolineas Argentinas,NaN,"Not Verified | Non-existent catering, lousy c...",2,Walter Cruz,NaN,NaN,Couple Leisure,Economy Class,Cordoba to Aeroparque,June 2023,2.0,1.0,1.0,1.0,2.0,yes,Boeing 737-800,1.0,1.0,NaN
4,5,2023-09-14,20th March 2023,Aerolineas Argentinas,NaN,? Trip Verified | One of the best things abou...,6,G Hallam,NaN,NaN,Solo Leisure,Economy Class,Ushuaia to Buenos Aires,March 2023,3.0,1.0,1.0,3.0,4.0,no,B0eing 737-800,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56219,56220,2023-09-14,8th August 2014,Volotea,NaN,Venice to Olbia and back. My first trip with V...,1,Ho Nita,NaN,NaN,NaN,Economy Class,NaN,NaN,4.0,4.0,3.0,NaN,3.0,no,NaN,0.0,NaN,NaN
56220,56221,2023-09-14,5th June 2014,Volotea,NaN,Flew Naples to Palermo May 15 and Palermo to V...,8,Mike Fewster,NaN,NaN,NaN,Economy Class,NaN,NaN,3.0,5.0,0.0,NaN,5.0,yes,NaN,0.0,NaN,NaN
56221,56222,2023-09-14,21st July 2013,Volotea,NaN,LIL-NTE return. Great low cost with attractive...,5,Y Mirindi,NaN,NaN,NaN,Economy Class,NaN,NaN,4.0,4.0,0.0,NaN,5.0,yes,NaN,0.0,NaN,NaN
56222,56223,2023-09-14,11th July 2013,Volotea,NaN,VCE-JMK-VCE on B717-200. Both legs on time. Go...,9,J Kresge,NaN,NaN,NaN,Economy Class,NaN,NaN,5.0,5.0,4.0,NaN,4.0,yes,NaN,0.0,NaN,NaN
56223,56224,2023-09-14,11th July 2013,Volotea,NaN,Strasbourg to Bordeaux and from Nantes to Pale...,5,J Blasini,NaN,NaN,NaN,Economy Class,NaN,NaN,5.0,2.0,1.0,NaN,4.0,no,NaN,1.0,NaN,NaN

In [3]:
# Number of rows and columns in dataset df:

print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 56224
Number of columns: 24

In [4]:
# Check the columns name and its datatype:-

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56224 entries, 0 to 56223
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      56224 non-null  int64
 1   recorded_date           56224 non-null  object
 2   review_date             56224 non-null  object
 3   airline                 56224 non-null  object
 4   title                   0 non-null      float64
 5   review                  56224 non-null  object
 6   over_all_rating         56224 non-null  int64
 7   name                    56224 non-null  object
 8   date                    0 non-null      float64
 9   text                    0 non-null      float64
 10  type_of_traveller       44680 non-null  object
 11  seat_type               55162 non-null  object
 12  route                   44471 non-null  object
 13  date_flown              44609 non-null  object
 14  seat_comfort            52865 non-null  float64
 15  cabin_staff_service     52707 non-null  float64
 16  food_and_beverages      43057 non-null  float64
 17  ground_service          43226 non-null  float64
 18  value_for_money         56167 non-null  float64
 19  recommended             56224 non-null  object
 20  aircraft                16154 non-null  object
 21  inflight_entertainment  37942 non-null  float64
 22  wifi_and_connectivity   16331 non-null  float64
 23  airline_id              0 non-null      float64
dtypes: float64(11), int64(2), object(11)
memory usage: 10.3+ MB

In [5]:
# Descriptive statics of DataFrame df

df.describe()

,id,title,over_all_rating,date,text,seat_comfort,cabin_staff_service,food_and_beverages,ground_service,value_for_money,inflight_entertainment,wifi_and_connectivity,airline_id
count,56224.000000,0.0,56224.000000,0.0,0.0,52865.000000,52707.000000,43057.000000,43226.000000,56167.000000,37942.000000,16331.000000,0.0
mean,28112.500000,NaN,4.046724,NaN,NaN,2.619578,2.893847,2.617902,2.336811,2.483825,2.585341,1.942135,NaN
std,16230.615104,NaN,3.495272,NaN,NaN,1.487834,1.617031,1.548903,1.595405,1.604856,1.572335,1.408884,NaN
min,1.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,NaN
25%,14056.750000,NaN,1.000000,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN
50%,28112.500000,NaN,2.000000,NaN,NaN,3.000000,3.000000,2.000000,1.000000,2.000000,2.000000,1.000000,NaN
75%,42168.250000,NaN,8.000000,NaN,NaN,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,3.000000,NaN
max,56224.000000,NaN,10.000000,NaN,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN

In [6]:
# Check how many null values in all individual column.

df.isnull().sum()

id                            0
recorded_date                 0
review_date                   0
airline                       0
title                     56224
review                        0
over_all_rating               0
name                          0
date                      56224
text                      56224
type_of_traveller         11544
seat_type                  1062
route                     11753
date_flown                11615
seat_comfort               3359
cabin_staff_service        3517
food_and_beverages        13167
ground_service            12998
value_for_money              57
recommended                   0
aircraft                  40070
inflight_entertainment    18282
wifi_and_connectivity     39893
airline_id                56224
dtype: int64

# Data Cleaning
## Now, since we have extracted data from the website, it is not cleaned and ready

## Drop all the columns which have all the null values

In [7]:
df.drop(columns=['title','date','text','airline_id'], inplace=True)

In [8]:
df

,id,recorded_date,review_date,airline,review,over_all_rating,name,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_and_beverages,ground_service,value_for_money,recommended,aircraft,inflight_entertainment,wifi_and_connectivity
0,1,2023-09-14,13th September 2023,Aerolineas Argentinas,"An hour delay, no apologies nor explanations. ...",5,B Albrecht,Business,Economy Class,Santiago de Chile to Buenos Aires AEP,September 2023,5.0,2.0,2.0,3.0,4.0,no,Boeing 737,NaN,NaN
1,2,2023-09-14,7th August 2023,Aerolineas Argentinas,Not Verified | Do Not Fly! They will take you...,1,B Harley,Solo Leisure,Economy Class,New York JFK to Argentina,August 2023,1.0,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0
2,3,2023-09-14,25th July 2023,Aerolineas Argentinas,Not Verified | It was an international flight ...,2,Liliana Caplan,Solo Leisure,Economy Class,Miami to Buenos Aires,July 2023,1.0,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0
3,4,2023-09-14,25th June 2023,Aerolineas Argentinas,"Not Verified | Non-existent catering, lousy c...",2,Walter Cruz,Couple Leisure,Economy Class,Cordoba to Aeroparque,June 2023,2.0,1.0,1.0,1.0,2.0,yes,Boeing 737-800,1.0,1.0
4,5,2023-09-14,20th March 2023,Aerolineas Argentinas,? Trip Verified | One of the best things abou...,6,G Hallam,Solo Leisure,Economy Class,Ushuaia to Buenos Aires,March 2023,3.0,1.0,1.0,3.0,4.0,no,B0eing 737-800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56219,56220,2023-09-14,8th August 2014,Volotea,Venice to Olbia and back. My first trip with V...,1,Ho Nita,NaN,Economy Class,NaN,NaN,4.0,4.0,3.0,NaN,3.0,no,NaN,0.0,NaN
56220,56221,2023-09-14,5th June 2014,Volotea,Flew Naples to Palermo May 15 and Palermo to V...,8,Mike Fewster,NaN,Economy Class,NaN,NaN,3.0,5.0,0.0,NaN,5.0,yes,NaN,0.0,NaN
56221,56222,2023-09-14,21st July 2013,Volotea,LIL-NTE return. Great low cost with attractive...,5,Y Mirindi,NaN,Economy Class,NaN,NaN,4.0,4.0,0.0,NaN,5.0,yes,NaN,0.0,NaN
56222,56223,2023-09-14,11th July 2013,Volotea,VCE-JMK-VCE on B717-200. Both legs on time. Go...,9,J Kresge,NaN,Economy Class,NaN,NaN,5.0,5.0,4.0,NaN,4.0,yes,NaN,0.0,NaN
56223,56224,2023-09-14,11th July 2013,Volotea,Strasbourg to Bordeaux and from Nantes to Pale...,5,J Blasini,NaN,Economy Class,NaN,NaN,5.0,2.0,1.0,NaN,4.0,no,NaN,1.0,NaN